# Angular
node_modules/
dist/
.angular/
coverage/

# Spring Boot
target/
*.log
*.class
*.jar
*.war

# IDE
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Archivos comprimidos
*.zip
*.rar
*.7z

# Archivos temporales
.env
*.tmp

# Base de datos local
*.sql

# Maven
.mvn/